@custom-variant tablet {
  /* 1280 */
  @media (max-width: 80rem) {
    @slot;
  }
}

@custom-variant miniTablet {
  /* 1024 */
  @media (max-width: 64rem) {
    @slot;
  }
}

@custom-variant mobile {
  /* 640 */
  @media (max-width: 40rem) {
    @slot;
  }
}
