@custom-variant tablet {
  @media (width >= 40rem /* 640px */) {
    @slot;
  }
}

@custom-variant tablet2 {
  @media (width >= 48rem /* 768px */) {
    @slot;
  }
}

@custom-variant desktop {
  @media (width >= 64rem /* 1024px */) {
    @slot;
  }
}

@custom-variant desktop2 {
  @media (width >= 96rem /* 1536px */) {
    @slot;
  }
}
