@import 'tailwindcss';
@import './normalize.css';
@import './color.css';
@import './font.css';
@import './responsive.css';
@import './size.css';
@import './animation.css';
@import './utility.css';

/* 커스텀 기본 스타일 */
@layer base {
  * {
    @apply scrollbar break-keep;
  }

  :root {
    @apply bg-background text-foreground;
  }

  a {
    @apply inline-block;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  button:disabled,
  a:disabled {
    @apply cursor-not-allowed opacity-60;
  }
}
