/* Layout */
@custom-variant fold {
  @media (width >= 40rem /* 640px */) {
    @slot;
  }
}

@custom-variant tablet {
  @media (width >= 48rem /* 768px */) {
    @slot;
  }
}

@custom-variant desktop {
  @media (width >= 64rem /* 1024px */) {
    @slot;
  }
}

@custom-variant wide {
  @media (width >= 96rem /* 1536px */) {
    @slot;
  }
}

/* Feature */
@custom-variant touch {
  @media (pointer: coarse) {
    @slot;
  }
}

@custom-variant mouse {
  @media (pointer: fine) {
    @slot;
  }
}

/* Override hover to work only with pointer: fine (mouse) */
@variant hover {
  @media (pointer: fine) {
    &:hover {
      @slot;
    }
  }
}
